.img1 {
  width: 251.989px;
  height: 325.067px;
  transform: rotate(-90deg);
  flex-shrink: 0;
}

.jouimg1 {
  top: 300px
}

.j2024 {
  color: #ffffff;
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  z-index: 2;
  /* 108.333% */
}

.j24box {
  display: flex;
  width: 750px;
  padding: 30px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 30px;
  background: #9F3181;
}

.j23box {
  display: flex;
  width: 750px;
  padding: 30px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #5DB7E0;
}

.j22box {
  display: flex;
  width: 570px;
  padding: 50px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #D86027;
}

.j21box {
  display: flex;
  width: 570px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #232F65;
}

.j20box {
  display: flex;
  width: 570px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #818541;
}


.j19box {
  display: flex;
  width: 570px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #A81E25;
}

.j18box {
  display: flex;
  width: 570px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #9F3181;
}

.j17box {
  display: flex;
  width: 570px;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #5DB7E0;
}

.messagespeachhide{
  @media(max-width:640px){
    display: none;
  }
}


.ourjourneybox{
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  font-size: 12px;
  line-height: 20px;
  color:#ffffff;
}

.ourjourneyimg{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 250px;
}